{% extends 'base.html.twig' %}

{% block title 'Tous nous biens' %}

{% block body %}

    <div class="container">
        <div class="jumbotron">
            {{ form_start(form) }}
            <div class="form-row align-items-end">
                <div class="col">
                    {{ form_row(form.minSurface) }}
                </div>
                <div class="col">
                    {{ form_row(form.maxPrice) }}
                </div>
                <div class="col">
                    {{ form_row(form.tags) }}
                </div>
                <div class="col">
                    {{ form_row(form.address, {'id': 'search_address'}) }}
                </div>
                <div class="col">
                    {{ form_row(form.distance) }}
                </div>
                <div class="col">
                    <div class="form-group">
                        <button class="btn btn-primary">Rechercher</button>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

    <div class="container">
        <h1>Voir tous nos biens</h1>

        <div class="row">
            {% for property in properties %}
                <div class="col-md-4">
                    {{ include('property/_property.html.twig') }}
                </div>
            {% endfor %}
        </div>

        <div class="pagerfanta">
            {{ pagerfanta(properties, 'twitter_bootstrap4_translated', {'omitFirstPage': true}) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('search') }}
{% endblock %}